@using CustomersProject.Models
@model UserStateVM

@{
    ViewBag.Title = "Pending";
}


@section styles{
    <link href="~/Content/Custom/toastr.css" rel="stylesheet" />
}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Customers</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Categories</a></li>
                            <li class="active">Pending</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<span style="display:none" id="userState">@Model.State</span>
<span style="display:none" id="userDept">@Model.Department</span>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12 card">
                <div class="card-header">
                    <strong class="card-title">Pending</strong>
                </div>
                <div class="text-center" id="loader">
                    <img src="~/images/loader.gif" />
                </div>
                <div class="table-stats order-table ov-h" id="table" style="display:none">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>State</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody class="customer-body">
                            <tr style="display:none" class="clone-tr">
                                <td class="serial">1.</td>
                                <td>  <span class="name js-name">Louis Stanley</span> </td>
                                <td> <span class="name js-email">korlarday47</span> </td>
                                <td> <span class="name js-phone">08032343434</span> </td>
                                <td> <span class="name js-state">Kwara</span> </td>
                                <td style="display:none"> <span class="name js-employer-address">Kwara</span> </td>
                                <td style="display:none"> <span class="name js-dob">Kwara</span> </td>
                                <td style="display:none"> <span class="name js-employer">Kwara</span> </td>
                                <td style="display:none"> <span class="name js-status">Kwara</span> </td>
                                <td style="display:none"> <span class="name js-id">Kwara</span> </td>
                                <td style="display:none"> <span class="name js-created-at">date</span></td>
                                <td>
                                    <span class="badge js-badge">Complete</span>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-outline-secondary js-edit">Edit</button>
                                    <button style="display:none" data-toggle="modal" data-target="#mediumModal" id="openModal">Open Modal</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
                <nav id="pagination" aria-label="Page navigation example" style="display:none">
                    <ul class="pagination justify-content-center">

                        <li style="display:none;" class="page-item p-link"><button class="page-link" data-link="h">1</button></li>

                    </ul>
                </nav>
                <h4 class="m-5" id="no-record" style="display:none">No Record Found!</h4>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

<div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Customer Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <img src="" id="customerImage" style="max-width: 150px;max-height: 170px" />
                        <img src="~/images/user.png" id="defaultImage" style="max-width: 150px;max-height: 170px" />
                        <div>
                            <table class="table table-sm">
                                <tbody>
                                    <tr>
                                        <th scope="row">Name</th>
                                        <td id="js-name">Customers Name</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Email</th>
                                        <td id="js-email">Customers Email</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">State</th>
                                        <td id="js-state">Larry</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Date Of Birth</th>
                                        <td id="js-dob">Larry</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Employer</th>
                                        <td id="js-employer">Larry</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Employer Address</th>
                                        <td id="js-employer-address">Larry</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Date Registered</th>
                                        <td id="js-created-at">Larry</td>
                                    </tr>
                                </tbody>
                            </table>
                            <span style="display:none" id="js-id"></span>
                        </div>
                    </div>
                    <form class="col-md-5 offset-md-3" style="margin-top:20px">
                        <div class="form-group">
                            <div><label for="select" class="form-control-label"><b>Change Status</b></label></div>
                            <div>
                                <select name="select" id="select" class="form-control">
                                    <option value="1" id="new">New</option>
                                    <option value="2" id="pending">Pending</option>
                                    <option value="3" id="registered">Fully Registered</option>
                                    <option value="4" id="unresolved">Unresolved</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="js-save" data-dismiss="modal">Save</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="js-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/app/pending.js"></script>
}


