<header id="header" class="header">
    <div class="top-left">
        <div class="navbar-header">
            <a class="navbar-brand" href="./"><img src="@Url.Content("~/images/logo.png")" alt="Logo"></a>
            <a class="navbar-brand hidden" href="./"><img src="@Url.Content("~/images/logo2.png")" alt="Logo"></a>
            <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
        </div>
    </div>
    <div class="top-right">
        <div class="header-menu">
            <div class="header-left">
                

                <div class="dropdown for-notification" style="margin-right: 250px">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell"></i>
                        <span class="count bg-danger">3</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="notification">
                        <p class="red" style="color: black">3 New Customers</p>
                    </div>
                </div>

            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</header><!-- /header -->
