 button.js-delete{
     display: none;
 }

.js-users tr:hover .js-delete{
    display: inline;
}


/*Overriding bootstrap conventions*/
.page-item.active .page-link {
    background-color: #00c292;
    border-color: #00c292;
}

.modal-body .table th, .modal-body .table td{
    border-top: 0;
}


/* Modal border settings */
.add-border {
    border: 3px solid #f2f2f2;
    padding: 10px;
    border-radius: 8px;
}